* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
}

.container {
    width: 680px;
    margin: 0 auto;
    padding-top: 0px;
    padding-bottom: 0px;
}

.left p {
    display: block;
}

.left p:first-child {
    margin-bottom: 10px;
    font-weight: bold;
    font-family: 'Calibri', sans-serif;
    color: rgb(51, 51, 51);
}

.top {
    display: block;
}

.top .left,
.top .right {
    width: 48%;
}

.left {
    float: left;
    vertical-align: top;
}

.right {
    float: right;
    vertical-align: top;
}

.clearfix {
    clear: both;
    margin-bottom: 50px;
}

.left {
    text-align: left;
}

.right {
    text-align: right;
}

.top .right {
    display: block;
    text-align: right;
}

.red {
    /*        color: #ff0000;*/
    font-weight: bold;
}

.tax {
    margin-bottom: 20px;
    font-size: 32px;
    line-height: 32px;

}

.num {
    margin-bottom: 30px;
}

.ad {
    margin-top: 10px;
    text-align: right;
    font-weight: bold;
}

.bottom {
    margin-top: 25px;
    padding-top: 0px;
    padding-bottom: 0px;

}

.bottom .left,
.bottom .right {
    width: 50%;
}

.bottom .left p:first-child {
    font-weight: 400;
    margin-bottom: 0;
}

.bottom .right p {
    margin-bottom: 0px;
}

.bottom .right p:last-child {
    margin-bottom: 0;
}

.bottom .red {
    display: inline-block;
}

.bottom .right .red {
    font-weight: 400;
}

.red3 {
    margin-left: 25px;
}

table {
    width: 100%;
    margin-top: 50px;
    border-collapse: collapse;
}

table td {
    padding: 10px 0;
    padding-left: 15px;
    text-align: right;
}

.mas {
    padding-bottom: 35px;
}

.table1 td:last-child {
    padding-right: 15px;
}

.table1 {
    padding-top: 30px;

}

.abs {
    position: static;
    margin-top: 10px;
    right: 0;
    font-size: 14px;
    color: #727272;
}

.bca td {
    padding-bottom: 10px;
}

.table1 td {
    font-size: 14px;
    border-bottom: 1px solid;
}

.sss {
    background-color: #f4f3f2;
}

.bdn td {
    border-bottom: none;
}

.bold {
    font-size: 14px;
    font-weight: bold;
}

.table1 tr:first-child {
    color: #fff;
    background-color: #3b3d39;
}

.table1 tr td:first-child,
.table1 tr td:nth-child(2) {
    text-align: left;
}

.table1 .red {
    font-size: 15px;
    font-weight: 400;
}

caption {
    display: block;
    text-align: left;
    padding-bottom: 10px;
}

.table2 tr td:first-child {
    text-align: left;
}

.table1 {
    margin-bottom: 20px;
}

.table2 {
    font-size: 14px;
    margin-bottom: 20px;
}

.table2 tr:first-child {
    background-color: #f4f3f2;
}

.table2 td:last-child {
    padding-right: 15px;
}

.table2 tr {
    border-bottom: 1px solid #acacac;
}

.table2 tr:first-child {
    border-bottom: none;
}

.first {
    margin-bottom: 5px;
}

.last {
    font-size: 13px;
}