* {
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
    font-size: 14px
}

.offer_half_list {
    height: 900px;
    width: 600px;
}

body {
    width: 600px;
    padding: 25px;
    margin: 0 auto;
    font-family: 'Arial', sans-serif;
}

table {
    border: 2px solid #000;
    border-collapse: collapse;
    width: 100%;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 20px;
}

tr.thead th, .total {
    border: 1px solid #000;
    font-size: 14px;
    line-height: 25px;
}

table .total td {
    font-size: 16px;
    font-weight: bold;
    border-top: 1px solid #000;
    line-height: 25px;
}

tr td:nth-of-type(1), tr.thead th:nth-of-type(1) {
    text-align: left;
}

td, th {
    border-right: 1px solid #000;
    border-left: 1px solid #000;
    padding: 0 5px;
}

td {
    font-size: 14px;
    line-height: 20px;
}

h4 {
    text-align: center;
    font: bold 14px/25px 'Arial', sans-serif;
    margin: 10px auto 5px;
}

.column span {
    display: inline-block;
    width: 49%;
    font: bold 20px/32px 'Arial', sans-serif;
    padding: 5px 0;
    /*margin-left: -7px;*/
    vertical-align: top;
    text-align: left !important;
}

.row2 span {
    display: block;
    font-size: 14px;
    line-height: 22px;
}

.row2 span:nth-of-type(1) {
    font-weight: bold;
}

.row2 div {
    width: 49%;
    display: inline-block;
    vertical-align: top;
}

.row2 {
    padding: 10px 0;
}

.subsribe {
    margin-bottom: 30px;
}

.subsribe span {
    display: inline-block;
    font: bold 14px/14px 'Arial', sans-serif;
    width: 49%;
    padding-top: 20px;
}

.subsribe span:nth-of-type(2) {
    text-align: right;
}